ul {

    list-style-type: none;

}

ul.nav {

    color: black;
    margin: 0;
    padding: 0;
    text-align: center;

}

ul.nav1 {

    color: whitesmoke;
    padding: 0;
    margin: 0;
    display: inline;

}

li.nav {

    display: inline;
    text-align: center;
    border-right: 1px solid #bbb;

}

li.nav:first-child {

    border-left: 1px solid #bbb;

}

li.nav a {

    display: inline;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    text-shadow:  2px 2px 8px #bbb;
    padding: 14px 16px;

}

li.nav a:hover {

    background-color: rgba(0, 0, 102, 0.623);
    color: #A6A6A6;

}

#expandable {

    color: whitesmoke;
    position: initial;
    text-align: center;
    font-size: 50px;
    line-height: 50px;

}

li.nav1 {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 8px #bbb;
    float: left;
    padding: 10px;

}

#hashtag {

    float: right;

}

#primary-slogan {

    color: whitesmoke;
    font-size: 500%;
    text-align: center;
    text-shadow: 2px 2px 8px whitesmoke;

}

#secondary-slogan {

    text-align: center;
    font-size: 200%;

}

body {

    height: 2000px;
    color: whitesmoke;
    background-color: rgb(5, 58, 105);
    background-image: url("red-blue-galaxy.jpg");
    background-position: left top;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}