ul {

    list-style-type: none;

}

ul.nav {

    color: black;
    margin: 0;
    padding: 0;
    text-align: center;

}

ul.nav1 {

    color: whitesmoke;
    padding: 0;
    margin: 0;

}

li.nav {

    display: inline-flex;
    text-align: center;
    border-right: 1px solid #bbb;

}

li.nav:first-child {

    border-left: 1px solid #bbb;

}

li.nav a {

    display: inline;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li.nav a:hover {

    background-color: rgba(0, 0, 102, 0.623);
    color: #A6A6A6;

}

.names {

}

#expandable {

    color: whitesmoke;
    position: initial;
    text-align: center;
    font-size: 50px;
    line-height: 70px;

}

.date .location {

    display: inline;
    text-align: left;

}

.hashtag {

    text-align: right;

}

#primary-slogan {

    text-align: center;
    font-size: 500%;
    text-shadow: 2px 2px 8px whitesmoke;

}

#secondary-slogan {

    text-align: center;
    font-size: 200%;

}

body {

    height: 2000px;
    background-color: rgb(5, 58, 105);
    background-image: url("red-blue-galaxy.jpg");
    background-position: left top;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}